.botones:hover{
    -fx-border-color: green;
    -fx-border-width: 0px 0px 3px 0px;
}

.botones1:hover{
    -fx-border-color: blue;
    -fx-border-width: 0px 0px 3px 0px;
}

.botones2:hover{
    -fx-border-color: red;
    -fx-border-width: 0px 0px 3px 0px;
}

.botones3:hover{
    -fx-border-color: turquoise;
    -fx-border-width: 0px 0px 3px 0px;
}


.botones4:hover{
    -fx-border-color: #4055e0;
    -fx-border-width: 0px 0px 3px 0px;
}


.mainPane {
    -fx-background-color: linear-gradient(to bottom right, #152D35,#112031);
}